<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/giftyfy_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/giftyfy_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GIFTYFY"
        android:usesCleartextTraffic="true"> 

        <!-- 앱 첫 화면 : 로그인 -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 회원가입 화면 -->
        <activity android:name=".login.SignUpActivity" />

        <!-- 메인 화면 -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <!-- 상품 상세 화면 -->
        <activity android:name=".DetailActivity" />

    </application>

</manifest>
